ALLOWED_HOSTS=*

# DB config
DB_NAME=media_server_db
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432

# Media settings
MEDIA_UPLOAD_MAX_SIZE=21474836480
HLS_SEGMENT_TIME=12
DELETE_ORIGINAL_AFTER_HLS=True

# TMDB config
TMDB_READ_ACCESS_TOKEN=